.title:hover {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}

.header-container {
    margin-top: 1rem;
}

.content-container {
    margin-top: 2rem;
    background-color: white;
    display: inline-block;
    min-height: 40rem;
}

.gallery-container {
    background-color: white;
    display: inline-block;
}

.footer-container {
    margin: 2rem;
}

.photo-modal-box {
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* margin: -2rem; */
    /* for debugging */
    /* border: 1px solid red;
    background: orange; */
}

.photo-modal-content {
    width: auto;
    max-width: 100%;
    max-height: 605px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}

.dark-bg {
    color: white;
    background-color: black;
}