.header-container {
    border: 1px solid black;
    background-image: url('./../gif/cover.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-container {
    background-color: white;
    max-width: 1000px;
    left: 0;
    right: 0;
    margin: auto;
}